<h1><%=t("faq_engine.category_name").pluralize %></h1>

<table>
  <% @categories.in_groups_of(2).each do |group| %>
    <tr>
      <% group.each do |category| %>
        <td>
          <% if category %>
            <p><%= link_to category.name, faq_engine_category_path(category) %></p>
            <% if category.children.length > 0 %>
              <p class="subcategories">
                <% category.children.each do |subcategory| %>
                  <%= link_to subcategory.name, faq_engine_category_path(subcategory) %>,
                <% end %>
              </p>
            <% end %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<% if faq_editable? %>
  <p><%= link_to "Create a new category", new_faq_engine_category_path() %></p>
<% end %>
