<!DOCTYPE html>
<html>
  <head>
    <title><%=t("faq_engine.title") %></title>
    <link href="/stylesheets/faq_engine.css" media="screen" rel="stylesheet" type="text/css"/>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
